.about {
    min-height: 70vh;
    padding: 0 20px;
    .intro {
        margin-bottom: 25px;
        .section-intro {
            margin: 0;
        }
        .container {
            float: right;
            @include flex-vertically-center;
            justify-content: center;
            background: $btn-grad;
            border-radius: 4em;
            padding: 2px;
        }
    }
    .time-line-container {
        @include flex-vertically-center;
        flex-direction: column;
        position: relative;
        .time-line {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .time-line-fill {
            display: none;
        }
        .milestone {
            @include flex-vertically-center;
            flex-direction: column;
            text-align: center;
            .milestone-date-container {
                @include flex-vertically-center;
                justify-content: center;
                position: relative;
                background-color: white;
                .dot {
                    position: absolute;
                    background-color: $clr--white;
                    > * {
                        width: 40px;
                        height: 40px;
                        border-radius: 2em;
                    }
                    bottom: -45px;
                    z-index: 14;
                }
            }
            .milestone-txt {
                flex: 1;
                background-color: white;
                color: darken($clr1, 5%);
                padding: 50px 10px 0;
                font-family: Jost-SemiBold, serif;
                font-size: rem(20px);
            }
        }
    }
}

@media (min-width: 900px) {
    .about {
        .time-line-container {
            .time-line {
                flex-direction: row;
            }
            .time-line-fill {
                display: inherit;
                background-color: $clr2;
                position: absolute;
                top: 48px;
                height: 6px;
                width: calc(100% - 48px);
            }
            .milestone {
                @include flex-vertically-center;
                flex-direction: column;
                text-align: center;
                .milestone-date-container {
                    @include flex-vertically-center;
                    justify-content: center;
                    position: relative;
                    background-color: transparent;
                    .dot {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        border-radius: 2em;
                        background-color: $clr--white;
                        > * {
                            width: 36px;
                            height: 36px;
                            border-radius: 2em;
                        }
                        bottom: -40px;
                        z-index: 15;
                    }
                }
                .milestone-txt {
                    z-index: 10;
                    background-color: transparent;
                    padding: 40px 10px 0;
                    font-family: Jost-SemiBold, serif;
                    font-size: rem(20px);
                }
            }
        }
    }
}

@include for-large-layout {
}
