.introduction {
    display: flex;
    margin-top: 20px;
    .flying-man {
        display: none;
    }
}

@include for-small-layout {

}

@include for-medium-layout {
    .introduction {
        min-height: 87.5vh;
        margin-top: 0;
        align-items: center;
        .intro-content {
            p {
                width: clamp(80%, 90%, 95%);
            }
        }
        .flying-man {
            display: inherit;
            width: 40%;
            position: relative;
            bottom: 10%;
        }
    }
}

@include for-large-layout {
    .introduction {
        display: inherit;
        .flying-man {
            width: 40%;
            position: relative;
            bottom: 10%;
        }
    }
}
