.projects {
    position: relative;
    > *:not(.addon-shape) {
        padding-inline: 10px;
    }
    .addon-shape {
        display: none;
    }
    .projects-content {
        display: grid;
        align-items: center;
        justify-content: center;
        padding: 0 40px;
        row-gap: 20px;
    }
}

.project-card {
    position: relative;
    @include flex-vertically-center;
    flex-direction: column;
    justify-content: space-between;
    gap: 18px;
    padding: 36px 20px;
    height: 100%;
    // max-height: 700px;
    border-radius: 25px;
    box-shadow: $card-shadow;
    background-color: white;
    .project-img {
        width: 100%;
        height: 40%;
        object-fit: fill;
        border-radius: 15px;
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
            rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    }
    .project-title {
        font-family: Poppins-Bold;
        font-size: rem(40px);
        margin-bottom: 20px;
    }

    .project-description {
        max-height: 152px;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4; /*define how many line you want to show */
        -webkit-box-orient: vertical;
        transition: all 0.3s ease-in-out;
        font-size: rem(22px);
        &:hover {
            max-height: 400px;
            overflow: visible;
            -webkit-line-clamp: unset;
        }
    }
    .watch-demo {
        align-self: flex-start;
        a {
            color: $clr--white;
            &:visited {
                color: lightgray;
            }
            &:hover {
                color: $clr1;
            }
        }
    }
}

@include for-small-layout {
    .projects {
        > *:not(.addon-shape) {
            padding-inline: 20px;
        }
        .projects-content {
            grid-template-columns: minmax(200px, 600px);
        }
    }
}

@include for-medium-layout {
    .projects {
        margin-bottom: 250px;
        position: relative;
        > *:not(.addon-shape) {
            padding-inline: 50px;
        }
        .addon-shape {
            display: inherit;
            position: absolute;
            &.left {
                left: 15px;
            }
            &.right-bottom {
                right: 15px;
                bottom: -250px;
            }
            &.dots {
                bottom: -150px;
                right: -150px;
                z-index: -50;
            }
        }

        .projects-content {
            position: relative;
            z-index: 20;
            grid-template-columns: repeat(2, minmax(200px, 600px));
            grid-template-rows: repeat(2, 700px);
            column-gap: 100px;
            row-gap: 200px;
        }
        .projects-content > *:nth-child(2) {
            grid-row: 1/3;
        }
    }

    .project-card {
        max-height: 700px;
        .project-title {
            font-size: rem(45px);
        }
        .project-description {
            font-size: rem(26px);
        }
    }
}

@include for-large-layout {
    .projects {
        margin-bottom: 250px;
        position: relative;
        > *:not(.addon-shape) {
            padding-inline: 100px;
        }
    }
    .project-card {
        .project-title {
            font-size: rem(50px);
            margin-bottom: 20px;
        }
        .project-description {
            font-size: inherit;
        }
    }
}
