.technologies {
    height: 100vh;
    // @include flex-vertically-center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    // justify-content: space-evenly;

    .main-techs-list {
        @include flex-vertically-center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 60px;
        a {
            @include flex-vertically-center;
            img {
                height: 120px;
                width: 120px;
            }
            > * {
                &:hover {
                    animation: blink 0.8s infinite;
                }
            }
        }
    }
}
