.technologies {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .main-techs-list {
        margin-top: 40px;
        @include flex-vertically-center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        a {
            @include flex-vertically-center;
            img {
                height: 60px;
                width: 60px;
            }
        }
    }
}

@include for-small-layout {
    .technologies {
        justify-content: center;
        .main-techs-list {
            gap: 40px;
            a {
                img {
                    height: 80px;
                    width: 80px;
                }
            }
        }
    }
}

@media (min-width: 870px) {
    .technologies {
        .main-techs-list {
            gap: 45px;
            a {
                img {
                    height: 90px;
                    width: 90px;
                }
            }
        }
    }
}

@include for-large-layout {
    .technologies {
        justify-content: space-around;
        .main-techs-list {
            gap: 55px;
            a {
                img {
                    height: 110px;
                    width: 110px;
                }
            }
        }
    }
}
