* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
    color: $clr--white;
}

html {
    font-family: Quicksand-Regular, sans-serif; //site's-main-font
}

body {
    margin: 0;
    font-size: rem(30px);
    color: $clr-primary;
    // line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1;
    justify-self: flex-start;
    color: $clr--black;
}

p {
    margin: 0;
    max-width: 80ch;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 20px;
    // outline: 0.5px solid darkblue;
}

// section styles:
section {
    .section-title {
        margin-bottom: 24px;
        font-size: rem(72px);
        
    }
    .section-intro {
        margin-bottom: 45px;
    }
}
