* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
    color: $clr--white;
}

html {
    // font-family: Quicksand-Regular, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: Quicksand-Regular;
}

body {
    margin: 0;
    font-size: rem(18px);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1;
}

p {
    margin: 0;
    max-width: 80ch;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

