/* Breakpoint mixins */

@mixin for-small-layout {
    @media (min-width: calc($small-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-medium-layout {
    @media (min-width: calc($medium-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-large-layout {
    @media (min-width: calc($large-breakpoint + 40px)) {
        @content;
    }
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;
    &::before {
      display: block;
      content: "";
      width: 100%;
      padding-top: calc(($height / $width) * 100%);
    }
    > * {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  
    > img {
      height: 100%;
      object-fit: cover;
    }
  }
  
  // Mixin for removing hover effects on iphone screen
  @mixin hover-supported {    
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
  }

// Helpers mixins:
@mixin flex-vertically-center {
    display: flex;
    align-items: center;
}