// Josefin Sans

@font-face {
    font-family: Jost-Regular;
    src: url(/src/assets/fonts/Jost/Jost-Regular.ttf);
}
@font-face {
    font-family: Jost-Thin;
    src: url(/src/assets/fonts/Jost/Jost-Thin.ttf);
}
@font-face {
    font-family: Jost-SemiBold;
    src: url(/src/assets/fonts/Jost/Jost-SemiBold.ttf);
}
@font-face {
    font-family: Jost-Bold;
    src: url(/src/assets/fonts/Jost/Jost-Bold.ttf);
}

// Quicksand
@font-face {
    font-family: Quicksand-Regular;
    src: url(/src/assets/fonts/Quicksand/Quicksand-Regular.ttf);
}
@font-face {
    font-family: Quicksand-Medium;
    src: url(/src/assets/fonts/Quicksand/Quicksand-Medium.ttf);
}
@font-face {
    font-family: Quicksand-SemiBold;
    src: url(/src/assets/fonts/Quicksand/Quicksand-SemiBold.ttf);
}
@font-face {
    font-family: Quicksand-Bold;
    src: url(/src/assets/fonts/Quicksand/Quicksand-Bold.ttf);
}

// Poppins
@font-face {
    font-family: Poppins-Bold;
    src: url(/src/assets/fonts/Poppins/Poppins-Bold.ttf);
}