// Josefin Sans

@font-face {
    font-family: JosefinSans-Regular;
    src: url(/src/assets/fonts/Josefin_Sans/JosefinSans-Regular.ttf);
}
@font-face {
    font-family: JosefinSans-Thin;
    src: url(/src/assets/fonts/Josefin_Sans/JosefinSans-Light.ttf);
}
@font-face {
    font-family: JosefinSans-SemiBold;
    src: url(/src/assets/fonts/Josefin_Sans/JosefinSans-SemiBold.ttf);
}
@font-face {
    font-family: JosefinSans-Bold;
    src: url(/src/assets/fonts/Josefin_Sans/JosefinSans-Bold.ttf);
}

// Quicksand
@font-face {
    font-family: Quicksand-Regular;
    src: url(/src/assets/fonts/Quicksand/Quicksand-Regular.ttf);
}
@font-face {
    font-family: Quicksand-Medium;
    src: url(/src/assets/fonts/Quicksand/Quicksand-Medium.ttf);
}
@font-face {
    font-family: Quicksand-Bold;
    src: url(/src/assets/fonts/Quicksand/Quicksand-Bold.ttf);
}