// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";
@import "setup/typography";

// Basics
@import "basics/helpers";
@import "basics/layout";
@import "basics/base";

// Views

// Components
@import "components/app-header";
@import "components/introduction";
@import "components/project";
@import "components/technologies";
@import "components/about-me";
@import "components/contact-me";
@import "components/user-msg";

// App
.main-layout {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: overlay;
    position: relative;

    display: grid;

    .app-header {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
        padding: 30px 15px 30px 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 12.5vh;
        .logo {
            display: flex;
            align-items: center;
            color: $clr--black;
            cursor: default;
            div {
                margin: 0;
                padding: 0;
                font-size: rem(60px);
                text-transform: uppercase;
                font-family: Jost-Bold, sans-serif;
                margin-inline-end: 10px;
            }
        }
        .main-nav {
            width: calc((1130 / 1920) * 100vw - 20px);
        }
        .nav-list {
            display: flex;
            justify-content: center;
            gap: 40px;

            a,
            a:visited {
                color: $clr--white;
                text-transform: uppercase;
            }
            a:hover {
                color: $clr2;
            }
        }
    }

    .main-content {
        // background-color: rgba(255, 255, 0, 60%);
        >*:not(.full){
            padding: 0 100px 0 100px;
        }
        .introduction {
            display: flex;
            align-items: center;
            height: 87.5vh;
            // flex-basis: 80%;
            .intro-content{
                p {
                    width: clamp(70%, 80%, 90%);
                }
            }
            .flying-man {
                // flex-basis: 20%;
                width: 40%;
                position: relative;
                bottom: 10%;
                // right: 5%;
                // width: 100%;
            }
        }
    }

    .wave {
        position: absolute;
        top: 0;
        right: 0;
        width: calc((1130 / 1920) * 100vw);
        height: calc((827 / 1080) * 100vh);

        // aspect-ratio: 1/1;
        border-radius: 0px;
        z-index: -1;
    }
}

@media screen and (max-width: 1000px) {
    .main-layout {
        .app-header {
            padding: 20px 15px 20px 60px;
            .main-nav {
                // width: 100%;
                // padding-right: 150px;
                position: absolute;
                top: 0;
                // top: 133px;
                right: 15px;
                // background-color: black;
                .nav-list {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    // gap: 40px;
                    > * {
                        text-align: right;
                    }
                }
            }
        }
    }
}
