// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";
@import "setup/typography";

// Basics
@import "basics/helpers";
@import "basics/layout";
@import "basics/base";

// Views

// Components
@import "components/app-header";
@import "components/user-msg";

// App
.app-main {
    height: 100vh;

    @include flex-vertically-center;
    flex-direction: column;
    
    position: relative;
    overflow-x: hidden;
    
    > *:not(.addon-shape) {
        @include flex-vertically-center;
        &:not(header, footer) {
            flex-direction: column;
        }
        // flex-direction: column;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .wave {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        // height: calc(827/1955)*100vh;
        // width: calc(1130/1920)*100vw;
        // max-height: 50%;
        // width: 45%;

        aspect-ratio: 1/1;
        border-radius: 0px;
        z-index: -1;
    }
}
