// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";
@import "setup/typography";

// Basics
@import "basics/helpers";
@import "basics/layout";
@import "basics/base";

// Views

// Components
@import "components/app-header";
@import "components/introduction";
@import "components/project";
@import "components/technologies";
@import "components/about-me";
@import "components/contact-me";
@import "components/user-msg";

// App
.main-layout {
    height: 100vh;

    @include flex-vertically-center;
    flex-direction: column;
    
    position: relative;
    overflow-y: auto;

    >*:not(.full) {
        padding: 0 100px;
    }
    
    .main-content {
        height: 100vh;
        >*:not(.full) {
            padding: 0 100px;
        }
        gap: 100px;
    }
    
    .app-header {
        padding: 55px 50px 55px 100px;
    }
    
    >*:not(.addon-shape) {
        display: grid;
        grid-auto-flow: column;
        width: 100%;
        &:not(header) {
            grid-auto-flow: row;
        }
    }

    .wave {
        position: absolute;
        top: 0;
        right: 0;
        width: calc((1130/1920)*100vw);
        height: calc((827/1080)*100vh);
        
        aspect-ratio: 1/1;
        border-radius: 0px;
        z-index: -1;
    }

    .addon-shape {
    }
}
